<div style="display: flex;">
    <nb-card>
        <nb-card-header>
            <p>New User</p>
        </nb-card-header>
        <nb-card-body>
            <form (ngSubmit)="validate()" [formGroup]="userform">
                <input nbInput type="text" formControlName="pseudo" placeholder="pseudo">
                <input nbInput type="password" formControlName="password" placeholder="password">
                <input nbInput type="text" formControlName="lastname" placeholder="lastname">
                <input nbInput type="text" formControlName="firstname" placeholder="firstname">
                <input nbInput type="text" formControlName="email" placeholder="email">
                <button nbButton type="submit">Ok</button>
            </form>
        </nb-card-body>
    </nb-card>
</div>