<nb-layout>
    <nb-layout-header fixed>
      <nb-actions>
        <nb-action routerLink="/home">
          UCM EMPIRE
        </nb-action>
        <nb-action icon="log-in-outline" routerLink="/login"></nb-action>
      <nb-action  icon="log-out-outline" (click)="logout()"></nb-action>
        <nb-action icon="person-add-outline" routerLink="/register"></nb-action>
      </nb-actions>


    </nb-layout-header>

    <nb-layout-column>
      <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-layout-footer fixed>
      <p>The cheese project</p>
    </nb-layout-footer>

  </nb-layout>

